<!DOCTYPE html>
<html lang="en">
    
<head>

    <title>

        Software Shinobi Scrum

    </title>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link th:href="@{/landing/css/styles.css}" rel="stylesheet"/>

</head>

<body>
    
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                
                <a class="navbar-brand" href="/index.html">Software Shinobi Scrum</a>
                
                <a class="btn btn-primary" href="/account/open-session-form">Log In</a>
                
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">
                                
                                
                                
                                
                                
                                Manage more tasks and create more things
                            
                            
                            </h1>
                            
                            
                            
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                   
    <div class="col-auto">
        
        
        <a href="/account/open-session-form">
            
        <button class="btn btn-primary btn-lg disabled" id="submitButton">Log In</button>
    </a>
             </div>                       
        

    <div class="col-auto">


        <a href="/account/create-account-form">

    <button class="btn btn-primary btn-lg disabled" id="dasasd" >Create Account</button>

        </a>

    </div>


                                
                                </div>
                      
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    
    </body>
    
</html>
